*{
     list-style: none;
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  position: relative;
  z-index: 1;
}

header, nav {
  position: relative;
  z-index: 2;
}

.login-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
  background: #fff;
  border: 1px solid var(--color-neutral-300, #ddd);
  position: relative;
  z-index: 2;
}

.login-card h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-primary-700,  #0077ff);
}

.input-group-text {
  background-color: var(--color-neutral-100, #f0f0f0);
  border: none;
  border-right: 1px solid var(--color-neutral-300, #ddd);
}

.form-control {
  border-radius: 0 8px 8px 0;
  border: 1px solid var(--color-neutral-300, #ddd);
  padding: 10px;
  font-size: 0.95rem;
}

.form-control:focus {
  border-color: var(--color-primary-600,  #0077ff);
  box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.25);
}

.btn-primary {
  background-color: var(--color-primary-600,  #0077ff);
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-primary-700,  #0077ff);
}

.login-card a {
  color: var(--color-primary-700,  #0077ff);
  text-decoration: none;
  font-weight: 500;
}

.login-card a:hover {
  text-decoration: underline;
}
