@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

/* reset na página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Oswald", "Playfair Display", "Poppins", serif;
    /* formatação do menu <ul> */
    list-style: none;
    text-decoration: none;
}

  body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0; 
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f8fafc;
  overflow: hidden;
}

.shape {
  position: absolute;
  display: block;
  opacity: 0.25;
  animation: flutuar infinite ease-in-out;
}

@keyframes flutuar {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(20px, -20px) rotate(90deg);
  }
  50% {
    transform: translate(-20px, -40px) rotate(180deg);
  }
  75% {
    transform: translate(20px, -20px) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.conteudo {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 50px;
}


/*modo escuro pre-setado para algumas paginas*/

.dark-mode .background{
   background-color: #1f1f1f;
}


.dark-mode input{
  background-color: #383434;
  color: white;
}


.dark-mode input::placeholder{
  background-color: #383434;
  color: white;
}

.dark-mode input:focus {
  background-color: #383434;
  color: white;            
  border: 1px solid #888;  
  outline: none;           
}